{
    "DISCORD_GUILD_ID": {
        "clientID": "",
        "clientSecret": "",
        "realmID": "86",
        "botChannel": "",
        "goldEmoji": "<:Gold:711717195377410089>",
        "silverEmoji": "<:Silver:711717196707135539>",
        "copperEmoji": "<:Copper:711717195650039888>",
        "pprint": "False",
        "debug": "False"
    }
}